<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://114.135.115.112:9090/GF_App/ios/GF_gbe.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://114.135.115.112:9090/GF_App/ios/images/min.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://114.135.115.112:9090/GF_App/ios/images/max.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.bonc.DistrictGF.TELECOM.GZ.25494463</string>
				<key>bundle-version</key>
				<string>2019090601</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>营销沙盘</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
